/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

.list-content {
    overflow: hidden;
    padding-bottom: 1.333rem;
}

.list-content .list-title {
    text-align: center;
    font-size: 0.427rem;
    margin-top: 0.373rem;
    margin-bottom: 0.133rem;
}

.list-content .title-line {
    display: inline-block;
    border-bottom: 0.027rem solid #949494;
    height: 0.027rem;
    width: 0.8rem;
    margin: 0 0.107rem 0.107rem;
}

.loading {
    padding-bottom: 0.267rem;
    padding-top: 0.267rem;
    text-align: center;
    font-size: 0.427rem;
    color: #cccccc;
}

.r-item-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0.4rem 0;
    margin: 0 0.267rem;
    color: #666;
    position: relative;
}

.r-item-content .item-img {
    width: 2.293rem;
    height: 1.733rem;
    border-bottom: 0.027rem solid #e4e4e4;
    /*position: relative;*/
}

.r-item-content .item-info-content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-left: 0.187rem;
    overflow: hidden;
}

.r-item-content .brand {
    position: absolute;
    left: 0.027rem;
    top: 0.427rem;
    font-size: 0.32rem;
    padding: 0.053rem;
    color: #ffffff;
}

.r-item-content .brand-pin {
    background-color: #ffa627;
}

.r-item-content .brand-xin {
    background-color: #21c56c;
}

.r-item-content .item-title {
    margin-top: 0.08rem;
    font-size: 0.427rem;
    font-weight: 500;
    color: #333;
}

.r-item-content .item-desc {
    margin-top: 0.347rem;
    font-size: 0.32rem;
}

.r-item-content .item-score {
    float: left;
}

.r-item-content .item-count {
    float: left;
    margin-left: 0.133rem;
}

.r-item-content .item-distance {
    float: right;
}

.r-item-content .item-time {
    float: right;
}

.r-item-content .item-price {
    margin-top: 10px;
    font-size: 0.32rem;
    height: 0.64rem;
    line-height: 0.64rem;
}

.r-item-content .item-pre-price {
}

.r-item-content .item-others {
}

.r-item-content .other-info {
    margin-top: 0.187rem;
    color: #898989;
    font-size: 0.32rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.r-item-content .other-tag {
    width: 0.373rem;
    height: 0.373rem;
}

.r-item-content .other-content {
    margin-left: 0.08rem;
    height: 0.373rem;
    width: 6.133rem;
    margin-top: 0.027rem;
}